################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MQTTnet.NetCore.Server/DesignTimeBuild/.dtbcache.v2
